<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Vision Cloud</title>

    <!-- Google online fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/welcome-dependenciesNew/css/style-starter.css">
    <link rel="stylesheet" type="text/css" href="/admin-dependencies/dist/css/style.css">
    <link rel="stylesheet" type="text/css" href="/admin-dependencies/dist/css/web.css">
  </head>
<section class="w3l-header">
  <nav class="navbar navbar-expand-lg navbar-light paddingNone headerBorder">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/welcome-dependenciesNew/images/logo-header.png" width="150"></a>
      <div class="header-right d-flex align-items-center">
        <div class="dropdown">
          <button class="btn btn-outline-dark logPad d-md-block btn-outline-style mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documents
            <span class="fa fa-caret-down"></span><div class="ripple-container">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if(sails.config.project_type != "demo") { %>
            <a class="dropdown-item" href="<%= url.resolve(sails.config.custom.documentUrl, "/spanel")%>">Document Super Admin</a>
            <a class="dropdown-item" href="<%= url.resolve(sails.config.custom.documentUrl, "/upanel")%>">Document Admin</a>
            <a class="dropdown-item" href="<%= url.resolve(sails.config.custom.documentUrl, "/panel")%>">Document Moderator</a>
            <%}%>
          </div>
        </div>        
        <a href="/loginpanel" class="btn btn-outline-dark logPad d-md-block btn-outline-style mr-4">Log In</a>
        <section class="w3l-menu">
          <div class="menu-btn">
            <span class="top"></span>
            <span class="mid"></span>
            <span class="bot"></span>
          </div>
          <div id="nav">
            <ul class="nav-inner">
              <li>
                <a href="/">Home</a>
              </li><!-- 
              <% if(sails.config.project_type != "demo") { %>
              <li>
                <a href="<%= url.resolve(sails.config.custom.documentUrl, "/spanel")%>">Document Super Admin</a>
              </li>
              <li>
                <a href="<%= url.resolve(sails.config.custom.documentUrl, "/upanel")%>">Document Admin</a>
              </li>
              <li>
                <a href="<%= url.resolve(sails.config.custom.documentUrl, "/panel")%>">Document Moderator</a>
              </li>

              <%}%> -->
              <li>
                <a href="/privacy-policy">Privacy Policy</a>
              </li>
              <li>
                <a href="contact">Contact</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </nav>
</section>
<%- body %>
<footer class="w3l-footer">
      <div class="footer-29 py-5">
        <div class="container pb-lg-3">
          <div class="row footer-top-29">
            <div class="col-md-6 footer-list-29 footer-1 mt-md-4">
              <h6 class="footer-title-29">Contact Us</h6>
              <ul>
                <li>
                  <span class="fa fa-map-marker"></span>
                  <p> Plot No. 60 Khudabadi Sonara Marg, Ram Mandir Rd, Sindhi Colony, Bani Park<br>Jaipur, Rajasthan 302016</p>
                </li>
                <li>
                  <span class="fa fa-phone"></span>
                  <a href="tel:+91 9610401016">+91 9610401016</a></li>
                <li>
                  <span class="fa fa-envelope-open-o"></span>
                  <a href="mailto:info@thevisionhouse.in" class="mail">
                    info@thevisionhouse.in</a></li>
              </ul>
              <div class="main-social-footer-29">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>

            <div class="col-md-6 footer-list-29 footer-4 mt-md-4 mt-5">
              <h6 class="footer-title-29">Subscribe</h6>
              <p>Always know what’s happening in the
                world of applications. Recieve all
                latest post in your inbox.</p>
              <form action="#" method="post" class="rightside-form mt-4">
                <input type="email" name="email" placeholder="Enter your email">
                <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
              </form>
              </ul>
            </div>
          </div>
          <div class="row bottom-copies">
            <p class="copy-footer-29 col-lg-7 text-lg-left text-center">© <span id="copyright"></span> Vision Cloud. All rights reserved | Design by <a
                href="http://www.thecatalystindia.in/" target=_blank>The Catalyst</a></p>
            <ul class="list-btm-29 col-lg-5 text-lg-right text-center">
              <li><a href="/">Home</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- /move top -->
</footer>
<!-- // footer -->

    <!-- jQuery -->
    <script src="/welcome-dependenciesNew/js/jquery-3.4.1.slim.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/welcome-dependenciesNew/js/bootstrap.min.js"></script>

    <!-- disable body scroll which navbar is in active -->
    <script>
      $(function () {
        $('.navbar-toggler').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
    </script>
    <!-- disable body scroll which navbar is in active -->

    <script>
      $(document).ready(function () {

        var $menuBtn = $('.menu-btn');
        var $nav = $('#nav');
        var $stylebox = $('#style-box');
        var $styleli = $stylebox.find('li');

        $menuBtn.on('click', function () {
          var $this = $(this);
          var styles = $stylebox.data('styles');
          $this.toggleClass("active");
          $this.next('#nav').toggleClass("open");
          $stylebox.toggleClass(styles);
        });

        $nav.addClass('topslide');

        $styleli.on('click', function () {
          var $this = $(this);
          $this.siblings().removeClass('now');
          $this.addClass('now');
          var styles = $this.data('styles');
          $nav.removeClass();
          $nav.addClass(styles);
          $nav.siblings('#style-box').removeClass();
          $nav.siblings('#style-box').data('styles', styles);
        });

        
      });
    </script>

    <script src="/welcome-dependenciesNew/js/jquery.magnific-popup.min.js"></script>
    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    <script>
      $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-slide-bottom'
        });
      });
    </script>
</html>