<% if(req.me.userRole == 65) { %>
<%- partial('../../partials/dashboard-aside-super.ejs') %>
<% } else if(req.me.userRole == 55){ %>
<%- partial('../../partials/dashboard-aside-admin.ejs') %>
<% }else{ %>
<%- partial('../../partials/dashboard-aside-moderator.ejs') %>
<% } %>
<div class="content-wrapper">
	<section class="content">
		<div class="box">
			<div class="box-body">
				<div class="row">
					<div class="col-sm-12">
						<h2>Write a Post</h2>
						<form id="tweet">
							<div class="form-group">
								<textarea class="form-control" id="user_post" placeholder="Write a Tweet"></textarea>
							</div>
							<button type="submit" class="btn btn-raised btn-primary pull-right">Post</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<%allTweets.map(function(res){%>
		<div class="box">
			<div class="box-body">
				<div class="row">
					<div class="col-sm-12">
						<div style="width:100%; display: inline-block; float:left;" class="margin-1em-bottom">
							<span class="pull-left"><h4 style="margin:0px;"><%=res.fullName%></h4></span>
							<span class="pull-right"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
						</div>
						<div class="text-content">
							<%=res.tweet%>
						</div>
						<div class="margin-1em-top">
							<%if(req.me.userRole == 55 && !res.pending){%>
							<%if(req.me.userRole == 55 || res.user_id == req.me.id){%>
							<a href="" class="btn btn-raised btn-primary" data-toggle="modal" onclick="editTweet(<%=res.id%>,'<%=res.tweet%>')">Edit</a>
							<a onclick="deleteTweet(<%=res.id%>)" class="btn btn-raised btn-danger">Delete</a>
							<%}} else if(req.me.userRole == 55){%>
								<a href="#" class="btn btn-raised btn-info">Pending</a>
							<%} else if(req.me.userRole == 45 && res.user_id == req.me.id){%>
							<a href="" class="btn btn-raised btn-primary" data-toggle="modal" onclick="editTweet(<%=res.id%>,'<%=res.tweet%>')">Edit</a>
							<a onclick="deleteTweet(<%=res.id%>)" class="btn btn-raised btn-danger">Delete</a>
							<%}%>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%})%>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="form-group">
		        	<textarea class="form-control" value="" id="modalInput">
		        		
		        	</textarea>
		        	<input type="hidden" value="" id="editedTweet">
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-raised btn-primary" onclick="updateTweet()">Save</button>
		      </div>
		    </div>
		  </div>
		</div>
	</section>	
</div>
<script type="text/javascript">
	$(document).ready(function(){

	
	$('#tweet').submit(function(e){
		e.preventDefault();
		var tweet = $('#user_post').val();
		console.log(tweet);
		var url = "/makeTweet"
		$.ajax({
	    type: "GET",
	      url: url,
	      data: {tweet:tweet},
	      datatype:'json',
	      success: function (res) {
	      	if(res.status == true){
	      		alert('Successfull');
	      		location.reload();
	      	}
	      }
	    });
	});
});

	function editTweet(tweetid,post){
		$('#exampleModal').modal('show');
		$('#modalInput').val(post);
		$('#editedTweet').val(tweetid);

	}

	function updateTweet(){
		var req = <%=req.me.userRole%>;
		if(req == 45){
			var delurl = '/updateTweet';
			var isApprove = 1;
		} else {
			var delurl = "/updateDeleteRequest";
			var isApprove = 3;
		}
		$.ajax({
			type:"POST",
			url:delurl,
			data:{tweet_id:$('#editedTweet').val(),isApprove:isApprove,tweet:$('#modalInput').val(),req_name:2},
			datatype:'json',
			success: function (res) {
	      	if(res.status == true){
	      		alert('Successfull');
	      		$('#exampleModal').modal('hide');
	      		location.reload();
	      	}
	      }
		});
	}

	function deleteTweet(tweetid){
		var req = <%=req.me.userRole%>;
		if(req == 45){
			var delurl = "/deleteTweet";
			var isApprove = 1;
		} else {
			var delurl = "/updateDeleteRequest";
			var isApprove = 3;
		}
		$.ajax({
			type:"POST",
			url:delurl,
			data:{tweet_id:tweetid,isApprove:isApprove,req_name:1},
			datatype:'json',
			success: function (res) {
	      	if(res.status == true){
	      		alert('Successfull');
	      		location.reload();
	      	}
	      }
		});
	}
</script>
